# Cloudflare API Configuration
# Get your API token from: https://dash.cloudflare.com/profile/api-tokens
# Required permissions: Zone > DNS > Edit
# Required Zone Id: Zone ~ Overview > Zone Id is on the Page

CLOUDFLARE_API_TOKEN=API_TOKEN_GOES_HERe
CLOUDFLARE_ZONE_ID=ZONE_ID_GOES_HERE
